.carousel-img{
    width: 1300px;
    height: 469px;

}
.carousel-position{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.carousel-btn{
    margin-top: 180px;
    width: 60px;
    height: 100px;
    background-color: white;
}